/*Clases para Contacto*/

@import '_variables';

.contacto__title {
    @include setFont($tamanio-titulos, 700);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contacto__form {
    @include setColors($color-principal, white);
    padding: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "select select"
                         "nombre apellido"
                         "email ciudad"
                         "comentarios comentarios"
                         "newsletter newsletter"
                         "buttons buttons";
    justify-content: center;
    align-items: center;
}

.form__base {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.form__select {
    grid-area: select;
    @extend .form__base;
    margin-bottom: 64px;
}

.form__nombre {
    grid-area: nombre;
    @extend .form__base;
    margin-right: 16px;
}

.form__apellido {
    grid-area: apellido;
    @extend .form__base;
}

.form__email {
    grid-area: email;
    @extend .form__base;
    margin-right: 16px;
}

.form__ciudad {
    grid-area: ciudad;
    @extend .form__base;
}

.form__comentarios {
    grid-area: comentarios;
    @extend .form__base;
}

.form__newsletterContainer {
    grid-area: newsletter;
    display: flex;
    margin-bottom: 64px;
}

.form__buttonsContainer {
    grid-area: buttons;
    display: flex;
    align-content: flex-start;
    word-wrap: true;
    width: 30%;
    margin-bottom: 64px;
}

.form__button {
    @include setColors(#EEEEEE, black);
    border: #EEEEEE;
    margin-right: 1rem;
}

.form__check {
    margin-left: 1rem;
}
