
@media (min-width:1920px) and (max-width: 2560px) {

    .cabañaContainer {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        margin-left: 0;
    }

    .cabañaContainer__imagesContainer {
        margin-bottom: 2rem;
        grid-template-rows: 500px 50px;
        grid-template-columns: 45% 24% 24%;
    }

    .cabañaContainer__equipamientoContainer {
        padding-top: 32px;
        padding-left: 0;
        width: 60%;
    }

    .cabañaContainer__tituloCabaña {
        font-size: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
    }  
}