@media (min-width:1024px) and (max-width: 1440px) {

    .cabañaContainer {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        margin-left: 0;
    }

    .cabañaContainer__imagesContainer {
        margin-bottom: 2rem;
        grid-template-rows: 500px 50px;
        grid-template-columns: 50% 25% 25%;
    }
  
    
}
