/* Etiquetas y clases del Nav*/
@import '_variables';

.navbar {
    padding-bottom: 32px;
    padding-top: 32px;
}

.navbar-collapse {
    margin-left: 3rem;
}

.navBar__Title {
    @include setFont(2rem, 300);
}

.navbar__buttonReg {
    @include setColors(#EEEEEE, black);
    border: #EEEEEE;
    margin-left: 16px;
}

.login__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.login__formgroup {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login__button{
    @include setColors(#EEEEEE, black);
    border: #EEEEEE;
    margin-top: 20px;
    margin-bottom: 10px;
}
